div {
	border: 1px solid black;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto/Roboto-Regular.ttf"),
		url("/fonts/Roboto/Roboto-Bold.ttf");
}


body {
	font-family: "Roboto";
	overflow-x: hidden;
	background-color: white;
	display: flex;
}

span {
	display: block;
	margin-top: -10px;
}

header {
	background-image: url(/homepage/resources/sl3-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: -150px;
	min-height: 70vh;
}

@media (max-width: 1450px) and (min-width: 500px) {
	header {
		background-position-y: bottom;
	}
}

.my-col-header {
	position: relative;
	min-height: 70vh;

	.text {
		position: absolute;
		left: 0%;
		right: 0%;
		color: rgb(255, 255, 255);
		font-size: 2em;
		text-align: center;
		a {
			color: white;
		}
	}
}

.big-tile {
	position: relative;
	.text {
		position: absolute;
		top: 20%;
	}
}

.my-col-hairband-collection-left {
	background-image: url(/homepage/resources/banner_h1_1.jpg);
	background-size: cover;
	background-position-x: right;
	min-height: 400px;
	text-align: right;
	.text {
		left: 10%;
	}
}

.my-col-hairband-collection-middle {
	background-image: url(/homepage/resources/banner_h1_2.jpg);
	background-size: cover;
	background-position-x: center;
	min-height: 400px;
	text-align: center;
	.text {
		left: 30%;
		right: 30%;
		p,
		a {
			color: white;
		}
	}
}

.my-col-corduroy-culottes {
	background-image: url(/homepage/resources/banner_h1_3.jpg);
	background-size: cover;
	background-position-x: left;
	min-height: 400px;
	text-align: right;
	.text {
		right: 10%;
	}
}

.my-row-top-sellers {
	position: relative;
	height: 20vh;
	.text {
		position: absolute;
		top: 30%;
		left: 30%;
		.top-sellers {
			font-size: 2em;
			font-weight: bold;
		}
		.browse-text {
			color: gray;
			margin-top: -15px;
		}
	}
}

a {
	text-decoration: none;
	color: black;
	&:hover {
		text-decoration: none;
		color: black;
	}
}

.text {
	height: 150px;

	.sm-grey-text {
		color: grey;
	}
	.big-text {
		margin-top: -10px;
		font-size: 2.2em;
		font-weight: bold;
	}
}

.sm-underline-text {
	font-size: small;
	font-weight: bold;
	text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-thickness: 2px;
}

.my-col-leather-shop-bag {
	background-image: url(/homepage/resources/bsl1.jpg);
	background-position-x: left;
	background-repeat: no-repeat;
	background-size: 350px;
	min-height: 500px;
	text-align: right;
	.text {
		text-align: left;
		left: 10%;
		top: 70%;
	}
}

.my-col-flower-design-blouse {
	background-image: url(/homepage/resources/bsl2.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: right;
	min-height: 500px;
	text-align: right;
	.text {
		text-align: left;
		left: 15%;
	}
}

.my-col-glitter-decorated-shoes {
	background-image: url(/homepage/resources/bsl3.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: right;
	background-size: 50%;
	min-height: 500px;
	text-align: right;
	.text {
		text-align: left;
		left: 15%;
	}
}

.my-col-metallic-frame-glasses {
	background-image: url(/homepage/resources/bsl4.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: right;
	background-size: 350px;
	min-height: 500px;
	text-align: right;
	.text {
		text-align: left;
		left: 40%;
		top: 55%;
	}
}

.middle-tile {
	.text {
		.big-text {
			font-size: 1.5em;
		}
	}
}

.my-row-new-arrival {
	position: relative;
	ul {
		position: absolute;
		right: 0px;
		list-style: none;
		a {
			margin: 1vw;
			color: grey;
		}
	}

}

.my-row-new-arrival {
	position: relative;
	height: 20vh;
	.text {
		position: absolute;
	}
	.sm-grey-text {
		color: gray;
		margin-top: -15px;
	}
}

.middle-banner-title {
	font-size: 2em;
	font-weight: bold;
}
.my-row-new-arrival-products {
	.my-col {
		height: 400px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: top;
		.text {
			height: 100px;
			p {
				margin-bottom: 5px;
			}
		}
	}
	.img1 {
		background-image: url(/homepage/resources/prd_04_1_1.jpg);

	}
	.img2 {
		background-image: url(/homepage/resources/prd_05_1_2.jpg);
	}
	.img3 {
		background-image: url(/homepage/resources/prd_06_1_2.jpg);
	}
	.img4 {
		background-image: url(/homepage/resources/prd_07_1_2.jpg);
	}
	.img5 {
		background-image: url(/homepage/resources/prd_08_1_6.jpg);
	}
	.img6 {
		background-image: url(/homepage/resources/prd_09_1_1_5.jpg);
	}
}

.fa-star {
	color: orangered;
}

.star-grey {
	color: gray;
}

.discover-more {
	text-align: center;
	width: 100vw;
	padding-top: 20px;
	height: 10vh;
}

.hobo-shopper-bag {
	height: 70vh;
	background-image: url(/homepage/resources/deals_image.jpg);
	background-position-y: bottom;
	background-position-x: right;
	background-repeat: no-repeat;
	background-size:cover;
	.text {
		margin-left: 15vw;
		margin-top: 10vh;
	}
}

.latest-news {
	height: 15vh;
	.my-col-1 {
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		.text {
			margin-left: -15px;
			height: 80px;
		}
	}
	.my-col-2 {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		.text {
			margin-right: -15px;
			height: 30px;
		}
	}
}

.latest-news-products {
	display: flex;
	justify-content:center;
	min-height: 50vh;

	.my-col {
		display: flex;
		align-items: flex-end;
		.text {
			height: 120px;
		}
	}
	.img-1 {
		background-image: url(/homepage/resources/blog1.jpg);
		background-repeat: no-repeat;
		background-size:auto;
		background-position-x:left;
	}
	.img-2 {
		background-image: url(/homepage/resources/blog2.jpg);
		background-repeat: no-repeat;
		background-size:auto;
		background-position-x:center;
	}
	.img-3 {
		background-image: url(/homepage/resources/blog3.jpg);
		background-repeat: no-repeat;
		background-size:auto;
		background-position-x:right;
	}
}

.keep-connected {

	.my-col-1 {
		display: flex;
		align-items: center;
		justify-content: baseline;
	}
	.my-col-2 {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.my-col-3 {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

.allpictures {
	height: 250px;
	.my-col {
		background-repeat: no-repeat;
		background-size: cover;
	}
	.col1 {
		background-image: url(/homepage/resources/blog1.jpg);
	}
	.col2 {
		background-image: url(/homepage/resources/blog2.jpg);
	}
	.col3 {
		background-image: url(/homepage/resources/blog3.jpg);
	}
	.col4 {
		background-image: url(/homepage/resources/blog4_1.jpg);
	}
	.col5 {
		background-image: url(/homepage/resources/blog6_1.jpg);
	}
	.col6 {
		background-image: url(/homepage/resources/blog8.jpg);
	}

}