@import "variables";
@import "header";
@import "button";
// @import "img-anim";
@import "media";
@import "footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: $font;
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $black;
    overflow-x: hidden;
    
}
main{
    padding: 1rem;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    
}
h2{
    font-size:2.9rem;
}
h3{
    font-size: 2rem;
    margin-bottom: 3rem;
    line-height:1.5;
}

a{
    text-decoration: none;
    color: $grey;
    &:hover{
        color: $black;
    }
}

i{
    font-size: 2rem;
}
.hero{
    position: relative;
    p{
        margin-left: 10rem;

        &:before{
        content: "";
        display: block;
        width: 95px;
        height: 2px;
        background: $grey;
        left: 15px;
        top: 233px;
        position: absolute;
        }
    }
}
.about{
    h5{
        color: red;
        font-size: 1.2rem;
    }
    p{
        font-size: 1.5rem;
        color: $grey;
        
    }
}

.container-fluid{
    max-width: 1800px;
    
}
.container{
    max-width: 1360px;
    
}


.hero{
    margin: 5rem auto;
   
    h1{
        font-size: 3.5rem;
    }

}

.filter {
        filter: grayscale(1);
        -webkit-filter:  grayscale(1);
}
.relative{
    position: relative;
    text-align: center;
}
.img-description{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.members{
    .member-name{
        overflow:hidden;
        position: relative;
        &::before{
            content: "";
            display: block;
            width: 260px;
            height: 60px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
        }
        &::after{
            content: attr(data-name);
            left: 9px;
            text-align: right;
            min-width: 12rem;
            font-size: 1.8rem;
            letter-spacing: .2rem;
            font-weight: 700;
            position: absolute;
            bottom: 10px;
        }
        
    }
}
.brands{
    width: 100vw;
    background-color: #e6e6e6;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
