div {
  border: 0px solid black;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf"), url("/fonts/Roboto/Roboto-Bold.ttf");
}

body {
  font-family: "Roboto";
  overflow-x: hidden;
  background-color: white;
}

span {
  display: block;
  margin-top: -10px;
}

header {
  background-image: url(/homepage/resources/sl3-1.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: -150px;
  min-height: 70vh;
}

@media (max-width: 1450px) and (min-width: 500px) {
  header {
    background-position-y: bottom;
  }
}

.my-col-header {
  position: relative;
  min-height: 70vh;
}

.my-col-header .text {
  position: absolute;
  left: 0%;
  right: 0%;
  color: white;
  font-size: 2em;
  text-align: center;
}

.my-col-header .text a {
  color: white;
}

.big-tile {
  position: relative;
}

.big-tile .text {
  position: absolute;
  top: 20%;
}

.my-col-hairband-collection-left {
  background-image: url(/homepage/resources/banner_h1_1.jpg);
  background-size: cover;
  background-position-x: right;
  min-height: 400px;
  text-align: right;
}

.my-col-hairband-collection-left .text {
  left: 10%;
}

.my-col-hairband-collection-middle {
  background-image: url(/homepage/resources/banner_h1_2.jpg);
  background-size: cover;
  background-position-x: center;
  min-height: 400px;
  text-align: center;
}

.my-col-hairband-collection-middle .text {
  left: 30%;
  right: 30%;
}

.my-col-hairband-collection-middle .text p,
.my-col-hairband-collection-middle .text a {
  color: white;
}

.my-col-corduroy-culottes {
  background-image: url(/homepage/resources/banner_h1_3.jpg);
  background-size: cover;
  background-position-x: left;
  min-height: 400px;
  text-align: right;
}

.my-col-corduroy-culottes .text {
  right: 10%;
}

.my-row-top-sellers {
  position: relative;
  height: 20vh;
}

.my-row-top-sellers .text {
  position: absolute;
  top: 30%;
  left: 30%;
}

.my-row-top-sellers .text .top-sellers {
  font-size: 2em;
  font-weight: bold;
}

.my-row-top-sellers .text .browse-text {
  color: gray;
  margin-top: -15px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.text {
  height: 200px;
}

.text .sm-grey-text {
  color: grey;
}

.text .big-text {
  margin-top: -10px;
  font-size: 2.2em;
  font-weight: bold;
}

.sm-underline-text {
  font-size: small;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.my-col-leather-shop-bag {
  background-image: url(/homepage/resources/bsl1.jpg);
  background-size: cover;
  background-position-x: left;
  background-repeat: no-repeat;
  background-size: 80%;
  min-height: 500px;
  text-align: right;
}

.my-col-leather-shop-bag .text {
  text-align: left;
  left: 10%;
  top: 70%;
}

.my-col-flower-design-blouse {
  background-image: url(/homepage/resources/bsl2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  min-height: 500px;
  text-align: right;
}

.my-col-flower-design-blouse .text {
  text-align: left;
  left: 15%;
}

.my-col-glitter-decorated-shoes {
  background-image: url(/homepage/resources/bsl3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 50%;
  min-height: 500px;
  text-align: right;
}

.my-col-glitter-decorated-shoes .text {
  text-align: left;
  left: 15%;
}

.my-col-metallic-frame-glasses {
  background-image: url(/homepage/resources/bsl4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 70%;
  min-height: 500px;
  text-align: right;
}

.my-col-metallic-frame-glasses .text {
  text-align: left;
  left: 40%;
  top: 55%;
}

.middle-tile .text .big-text {
  font-size: 1.5em;
}

.my-row-new-arrival {
  margin-top: 2vw;
  position: relative;
}

.my-row-new-arrival ul {
  position: absolute;
  right: 0px;
  list-style: none;
}

.my-row-new-arrival ul a {
  margin: 20px;
  color: grey;
}

.my-row-new-arrival {
  position: relative;
  height: 20vh;
}

.my-row-new-arrival .text {
  position: absolute;
}

.my-row-new-arrival .sm-grey-text {
  color: gray;
  margin-top: -15px;
}

.middle-banner-title {
  font-size: 2em;
  font-weight: bold;
}

.my-row-new-arrival-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-row-new-arrival-products .my-col {
  height: 350px;
  margin-inline: 80px;
  margin-bottom: 80px;
}

.my-row-new-arrival-products .my-col .text {
  height: 100px;
}

.my-row-new-arrival-products .my-col .text p {
  margin-bottom: 5px;
}

.fa-star {
  color: orangered;
}

.star-grey {
  color: gray;
}

.discover-more {
  text-align: center;
  width: 100vw;
  padding-top: 20px;
  height: 10vh;
}

.hobo-shopper-bag {
  height: 70vh;
  background-image: url(/homepage/resources/deals_image.jpg);
  background-position-y: bottom;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 100%;
}

.hobo-shopper-bag .text {
  margin-left: 15vw;
  margin-top: 10vh;
}

.latest-news {
  height: 15vh;
}

.latest-news .my-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.latest-news .my-col-1 .text {
  margin-left: -15px;
  height: 80px;
}

.latest-news .my-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.latest-news .my-col-2 .text {
  margin-right: -15px;
  height: 30px;
}

.latest-news-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 450px;
}

.latest-news-products .my-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.latest-news-products .my-col .text {
  height: 120px;
}

.latest-news-products .img-1 {
  background-image: url(/homepage/resources/blog1.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: left;
}

.latest-news-products .img-2 {
  background-image: url(/homepage/resources/blog2.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
}

.latest-news-products .img-3 {
  background-image: url(/homepage/resources/blog3.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: right;
}
/*# sourceMappingURL=style.css.map */