            footer {
                max-width: 1200px;
                margin: 3rem 3rem;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                h5 {
                    margin-bottom: 2rem;
                }
                ul {
                    color: $grey;
                }
                li {
                    padding: .3rem;
                    list-style-type: none;
                }
            }
            
            @media only screen and (max-width: 1200px) {
                footer {
                    margin: 0 auto;
                    padding: 0 2.5rem;
                }
                ul {
                    list-style: none;
                    padding-left: 0;
                }
            }