                                                            @import "_variables.scss";
                                                            body {
                                                                width: 100%;
                                                                margin: 0;
                                                                padding: 0;
                                                                font-family: $font;
                                                            }
                                                            
                                                            main {
                                                                width: 95%;
                                                                margin: auto;
                                                            }
                                                            
                                                            header {
                                                                ul {
                                                                    list-style-type: none;
                                                                    li {
                                                                        a {
                                                                            color: $black;
                                                                            text-decoration: none;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            
                                                            h1 {
                                                                font-size: 3rem;
                                                            }
                                                            
                                                            .slidecontainer {
                                                                width: 100%;
                                                                .slider {
                                                                    -webkit-appearance: none;
                                                                    appearance: none;
                                                                    width: 100%;
                                                                    height: 5px;
                                                                    background: #F68773;
                                                                    outline: none;
                                                                    opacity: 0.7;
                                                                    -webkit-transition: .2s;
                                                                    transition: opacity .2s;
                                                                }
                                                            }
                                                            
                                                            .container {
                                                                display: grid;
                                                                float: right;
                                                                grid-template-columns: 450px 450px 450px;
                                                                grid-template-rows: 520px;
                                                            }
                                                            
                                                            .icons {
                                                                width: 20px;
                                                            }
                                                            
                                                            i [class*="fi"] {
                                                                color: $star;
                                                            }
                                                            
                                                            .top {
                                                                display: inline-block;
                                                                position: relative;
                                                                margin-left: 240px;
                                                                top: 50px;
                                                                ;
                                                                ul {
                                                                    padding: 0;
                                                                    margin: 0;
                                                                    list-style-type: none;
                                                                }
                                                                li {
                                                                    float: left;
                                                                    /*pour IE*/
                                                                }
                                                                ul li a {
                                                                    display: block;
                                                                    float: left;
                                                                    text-decoration: none;
                                                                    color: $grey;
                                                                    text-align: center;
                                                                    padding-right: 5px;
                                                                    font-size: 1rem;
                                                                }
                                                            }
                                                            
                                                            .links {
                                                                position: relative;
                                                                top: -10px;
                                                            }
                                                            
                                                            .filter {
                                                                display: inline-block;
                                                                position: relative;
                                                                width: 850px;
                                                                margin-left: 690px;
                                                                margin-bottom: 60px;
                                                                ul {
                                                                    padding: 0;
                                                                    margin: 0;
                                                                    list-style-type: none;
                                                                }
                                                                li {
                                                                    float: left;
                                                                    /*pour IE*/
                                                                }
                                                                ul li a {
                                                                    display: block;
                                                                    text-decoration: none;
                                                                    text-align: center;
                                                                    padding-right: 20px;
                                                                }
                                                            }
                                                            
                                                            .sort {
                                                                position: relative;
                                                                left: 180px;
                                                            }
                                                            
                                                            .filter-icons {
                                                                position: relative;
                                                                left: 430px;
                                                            }
                                                            
                                                            .sidebar {
                                                                width: 220px;
                                                                float: left;
                                                                margin-left: 50px;
                                                                margin-top: 50px;
                                                                img {
                                                                    width: 85px;
                                                                }
                                                                fieldset {
                                                                    border: none;
                                                                    .prod {
                                                                        ul {
                                                                            li {
                                                                                list-style-type: none;
                                                                                padding-bottom: 20px;
                                                                                a {
                                                                                    text-decoration: none;
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            
                                                            .prod {
                                                                position: relative;
                                                                margin-left: -39px;
                                                                a:active {
                                                                    color: black;
                                                                }
                                                                a:link {
                                                                    color: $grey;
                                                                }
                                                                a:visited {
                                                                    color: gray;
                                                                }
                                                                a:hover {
                                                                    color: $black;
                                                                }
                                                            }
                                                            
                                                            .sort {
                                                                a:active {
                                                                    color: black;
                                                                }
                                                                a:link {
                                                                    color: $grey;
                                                                }
                                                                a:visited {
                                                                    color: gray;
                                                                }
                                                                a:hover {
                                                                    color: $black;
                                                                }
                                                            }
                                                            
                                                            .price {
                                                                position: relative;
                                                                margin-left: -39px;
                                                                li {
                                                                    list-style-type: none;
                                                                    color: $grey;
                                                                    padding-bottom: 20px;
                                                                }
                                                            }
                                                            
                                                            .more {
                                                                position: relative;
                                                            }
                                                            
                                                            .colors {
                                                                padding-bottom: 30px;
                                                                ;
                                                                div {
                                                                    float: left;
                                                                }
                                                                ul {
                                                                    li {
                                                                        list-style-type: none;
                                                                        color: $grey;
                                                                        padding-bottom: 60px;
                                                                    }
                                                                }
                                                            }
                                                            
                                                            .inline-colors {
                                                                position: relative;
                                                                margin-left: -39px;
                                                            }
                                                            
                                                            .black {
                                                                width: 20px;
                                                                height: 20px;
                                                                background-color: $black;
                                                                border-radius: 100px;
                                                            }
                                                            
                                                            .blue {
                                                                width: 20px;
                                                                height: 20px;
                                                                background-color: $blue;
                                                                border-radius: 100px;
                                                            }
                                                            
                                                            .gold {
                                                                width: 20px;
                                                                height: 20px;
                                                                background-color: $gold;
                                                                border-radius: 100px;
                                                            }
                                                            
                                                            .orange {
                                                                width: 20px;
                                                                height: 20px;
                                                                background-color: $orange;
                                                                border-radius: 100px;
                                                            }
                                                            
                                                            .nude {
                                                                width: 20px;
                                                                height: 20px;
                                                                background-color: $nude;
                                                                border-radius: 100px;
                                                            }
                                                            
                                                            .red {
                                                                width: 20px;
                                                                height: 20px;
                                                                background-color: $red;
                                                                border-radius: 100px;
                                                            }