@import "_variables.scss";
@font-face {
    font-family: "Roboto";
    src: url("/src/Font/roboto-regular-webfont.woff2") format("woff2"), url("/src/Font/roboto-regular-webfont.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    float: right;
    grid-template-columns: 450px 450px 450px;
    grid-template-rows: 450px 450px 450px 450px;
}

.icons {
    width: 20px;
}

i [class*="fi"] {
    color: $orange;
}

.sidebar {
    width: 220px;
    img {
        width: 85px;
    }
    ;
    fieldset {
        border: none;
        ul {
            li {
                list-style-type: none;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}

.Image-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.Image-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.Image-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}