@import "_variables.scss";
div {
    border: 1px solid black;
}

@font-face {
    font-family: "Roboto";
    src: url("/src/fonts/Roboto/Roboto-Regular.ttf"),
    url("/src/fonts/Roboto/Roboto-Bold.ttf");
   }

   body {
    font-family: "Roboto";
   }

@media screen and (min-width:1450px) {
    header {
        background-image: url(/src/homepage/resources/sl3-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: -150px;
        min-height: 70vh;
    }
}

@media (max-width: 1450px) and (min-width:500px) {
    header {
        background-image: url(/src/homepage/resources/sl3-1.jpg);
        background-size: cover;
        background-position-x: center;
        background-position-y: bottom;
        min-height: 70vh;
    }
}

.my-col-header {
    position: relative;
    min-height: 70vh;
    .text {
        position: absolute;
        top: 25vh;
        left: 40vw;
        right: 40vw;
        color: wheat;
    }
}

.my-col-1,
.my-col-2,
.my-col-3 {
    position: relative;
    .text {
        position: absolute;
        top: 20%;
    }
}

.my-col-1 {
    background-image: url(/src/homepage/resources/banner_h1_1.jpg);
    background-size: cover;
    background-position-x: right;
    min-height: 400px;
    text-align: right;
    .text {
        left: 10%;
    }
}

.my-col-2 {
    background-image: url(/src/homepage/resources/banner_h1_2.jpg);
    background-size: cover;
    background-position-x: center;
    min-height: 400px;
    text-align: center;
    .text {
        left: 30%;
        right: 30%;
    }
}

.my-col-3 {
    background-image: url(/src/homepage/resources/banner_h1_3.jpg);
    background-size: cover;
    background-position-x: left;
    min-height: 400px;
    text-align: right;
    .text {
        right: 10%;
    }
}

.my-row-top-sellers {
    position: relative;
    height: 20vh;
    .text {
        position: absolute;
        top: 30%;
        left: 30%;
    }
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        text-decoration: none;
        color: black;
      }
  }
  


.big-tile {
    .text {
        height: 150px;
  
        .sm-grey-text {
            color: $grey;
        }
        .big-text {
            margin-top: -10px;
            font-size: 2.2em;
            font-weight: bold;
        }
        .sm-underline-text {
            
            margin-top:15%;
            font-size: small;
            font-weight: bold;
            text-decoration: underline;
            text-underline-offset: 3px;
            text-decoration-thickness: 2px;

    }
}
}

